*{  
    text-decoration: none;
}
body{
    background-color: lightslategrey;
}
.navbar{
    background: steelblue;
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center
}
li{
    list-style: none;
    display: inline;
    padding: 20px 0;
    float: left;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
}
button{
    background-color: dimgrey;
    margin-right: 30px;
    border-radius: 10px;
    padding: 20px 0;
    width: 80px;
    float: end;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
img{
    width: 200px;
}
footer{
    text-align: center;
    background-color: steelblue;
}
#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}